<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

   <head lang="en">
      <meta charset="UTF-8" />
      <title>ReactJS + Spring Data REST</title>
      <link rel="stylesheet" href="/css/app.css" />
      <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.css" />
      <link rel="stylesheet" href="/webjars/font-awesome/css/solid.css" />
   </head>

   <body>
      <div class="p-2" id="root"></div>
      <script src="built/bundle.js"></script>
   </body>

</html>
